src/wsdl/LAPTOP-GT898CL0_8080/CarServicesWebApp/CarService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webcarservices.services.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webcarservices.services.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="car" type="tns:car"/>

<xs:element name="createCar" type="tns:createCar"/>

<xs:element name="createCarResponse" type="tns:createCarResponse"/>

<xs:element name="deleteCarById" type="tns:deleteCarById"/>

<xs:element name="deleteCarByIdResponse" type="tns:deleteCarByIdResponse"/>

<xs:element name="getCarBuickList" type="tns:getCarBuickList"/>

<xs:element name="getCarBuickListResponse" type="tns:getCarBuickListResponse"/>

<xs:element name="getCarById" type="tns:getCarById"/>

<xs:element name="getCarByIdResponse" type="tns:getCarByIdResponse"/>

<xs:element name="getCarChevroletList" type="tns:getCarChevroletList"/>

<xs:element name="getCarChevroletListResponse" type="tns:getCarChevroletListResponse"/>

<xs:element name="getCarDetailsById" type="tns:getCarDetailsById"/>

<xs:element name="getCarDetailsByIdResponse" type="tns:getCarDetailsByIdResponse"/>

<xs:element name="getCarDetailsByproductId" type="tns:getCarDetailsByproductId"/>

<xs:element name="getCarDetailsByproductIdResponse" type="tns:getCarDetailsByproductIdResponse"/>

<xs:element name="getCarGMCList" type="tns:getCarGMCList"/>

<xs:element name="getCarGMCListResponse" type="tns:getCarGMCListResponse"/>

<xs:element name="getCarHyundaiList" type="tns:getCarHyundaiList"/>

<xs:element name="getCarHyundaiListResponse" type="tns:getCarHyundaiListResponse"/>

<xs:element name="getCarList" type="tns:getCarList"/>

<xs:element name="getCarListResponse" type="tns:getCarListResponse"/>

<xs:element name="getCarToyotaList" type="tns:getCarToyotaList"/>

<xs:element name="getCarToyotaListResponse" type="tns:getCarToyotaListResponse"/>

<xs:element name="updateCarById" type="tns:updateCarById"/>

<xs:element name="updateCarByIdResponse" type="tns:updateCarByIdResponse"/>

<xs:complexType name="createCar">
<xs:sequence>
<xs:element name="arg0" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="body" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="displayUnder" type="xs:string" minOccurs="0"/>
<xs:element name="engine" type="xs:string" minOccurs="0"/>
<xs:element name="exterior" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="imageURL" type="xs:string" minOccurs="0"/>
<xs:element name="interior" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="productId" type="xs:string" minOccurs="0"/>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
<xs:element name="retailPrice" type="xs:double"/>
<xs:element name="trans" type="xs:string" minOccurs="0"/>
<xs:element name="vin" type="xs:string" minOccurs="0"/>
<xs:element name="year" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarGMCList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarGMCListResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarDetailsByproductId">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarDetailsByproductIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarChevroletList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarChevroletListResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCarById">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCarByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarBuickList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarBuickListResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCarById">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCarByIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarListResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarHyundaiList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarHyundaiListResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarToyotaList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarToyotaListResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarDetailsById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarDetailsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>