src/wsdl/LAPTOP-GT898CL0_8080/CarServicesWebApp/LoginService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webcarservices.services.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webcarservices.services.com/" name="LoginService">
<types>
<xsd:schema>
<xsd:import namespace="http://webcarservices.services.com/" schemaLocation="http://LAPTOP-GT898CL0:8080/CarServicesWebApp/LoginService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getUsertList">
<part name="parameters" element="tns:getUsertList"/>
</message>
<message name="getUsertListResponse">
<part name="parameters" element="tns:getUsertListResponse"/>
</message>
<message name="getUserLogin">
<part name="parameters" element="tns:getUserLogin"/>
</message>
<message name="getUserLoginResponse">
<part name="parameters" element="tns:getUserLoginResponse"/>
</message>
<message name="getUserByUserName">
<part name="parameters" element="tns:getUserByUserName"/>
</message>
<message name="getUserByUserNameResponse">
<part name="parameters" element="tns:getUserByUserNameResponse"/>
</message>
<portType name="LoginService">
<operation name="getUserById">
<input wsam:Action="http://webcarservices.services.com/LoginService/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://webcarservices.services.com/LoginService/getUserByIdResponse" message="tns:getUserByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webcarservices.services.com/LoginService/getUserById/Fault/Exception"/>
</operation>
<operation name="getUsertList">
<input wsam:Action="http://webcarservices.services.com/LoginService/getUsertListRequest" message="tns:getUsertList"/>
<output wsam:Action="http://webcarservices.services.com/LoginService/getUsertListResponse" message="tns:getUsertListResponse"/>
</operation>
<operation name="getUserLogin">
<input wsam:Action="http://webcarservices.services.com/LoginService/getUserLoginRequest" message="tns:getUserLogin"/>
<output wsam:Action="http://webcarservices.services.com/LoginService/getUserLoginResponse" message="tns:getUserLoginResponse"/>
</operation>
<operation name="getUserByUserName">
<input wsam:Action="http://webcarservices.services.com/LoginService/getUserByUserNameRequest" message="tns:getUserByUserName"/>
<output wsam:Action="http://webcarservices.services.com/LoginService/getUserByUserNameResponse" message="tns:getUserByUserNameResponse"/>
</operation>
</portType>
<binding name="LoginServicePortBinding" type="tns:LoginService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getUsertList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginService">
<port name="LoginServicePort" binding="tns:LoginServicePortBinding">
<soap:address location="http://LAPTOP-GT898CL0:8080/CarServicesWebApp/LoginService"/>
</port>
</service>
</definitions>