src/wsdl/LAPTOP-GT898CL0_8080/CarServicesWebApp/OrderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webcarservices.services.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webcarservices.services.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="createOrder" type="tns:createOrder"/>

<xs:element name="createOrderResponse" type="tns:createOrderResponse"/>

<xs:element name="custOrder" type="tns:custOrder"/>

<xs:element name="getOrderById" type="tns:getOrderById"/>

<xs:element name="getOrderByIdResponse" type="tns:getOrderByIdResponse"/>

<xs:element name="getOrderList" type="tns:getOrderList"/>

<xs:element name="getOrderListResponse" type="tns:getOrderListResponse"/>

<xs:element name="getOrderUserName" type="tns:getOrderUserName"/>

<xs:element name="getOrderUserNameResponse" type="tns:getOrderUserNameResponse"/>

<xs:complexType name="createOrder">
<xs:sequence>
<xs:element name="arg0" type="tns:custOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="custOrder">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="cardnumber" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="cvvcode" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="expirationdate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="itemid" type="xs:string" minOccurs="0"/>
<xs:element name="itemname" type="xs:string" minOccurs="0"/>
<xs:element name="orderdate" type="xs:string" minOccurs="0"/>
<xs:element name="orderid" type="xs:string" minOccurs="0"/>
<xs:element name="paymentid" type="xs:int"/>
<xs:element name="paymenttype" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="placedby" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="userid" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="zipcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:custOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderUserName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderUserNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:custOrder" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderListResponse">
<xs:sequence>
<xs:element name="return" type="tns:custOrder" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>