src/wsdl/LAPTOP-GT898CL0_8080/CarServicesWebApp/OrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webcarservices.services.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webcarservices.services.com/" name="OrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://webcarservices.services.com/" schemaLocation="http://LAPTOP-GT898CL0:8080/CarServicesWebApp/OrderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getOrderUserName">
<part name="parameters" element="tns:getOrderUserName"/>
</message>
<message name="getOrderUserNameResponse">
<part name="parameters" element="tns:getOrderUserNameResponse"/>
</message>
<message name="getOrderList">
<part name="parameters" element="tns:getOrderList"/>
</message>
<message name="getOrderListResponse">
<part name="parameters" element="tns:getOrderListResponse"/>
</message>
<message name="getOrderById">
<part name="parameters" element="tns:getOrderById"/>
</message>
<message name="getOrderByIdResponse">
<part name="parameters" element="tns:getOrderByIdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder"/>
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse"/>
</message>
<portType name="OrderService">
<operation name="getOrderUserName">
<input wsam:Action="http://webcarservices.services.com/OrderService/getOrderUserNameRequest" message="tns:getOrderUserName"/>
<output wsam:Action="http://webcarservices.services.com/OrderService/getOrderUserNameResponse" message="tns:getOrderUserNameResponse"/>
</operation>
<operation name="getOrderList">
<input wsam:Action="http://webcarservices.services.com/OrderService/getOrderListRequest" message="tns:getOrderList"/>
<output wsam:Action="http://webcarservices.services.com/OrderService/getOrderListResponse" message="tns:getOrderListResponse"/>
</operation>
<operation name="getOrderById">
<input wsam:Action="http://webcarservices.services.com/OrderService/getOrderByIdRequest" message="tns:getOrderById"/>
<output wsam:Action="http://webcarservices.services.com/OrderService/getOrderByIdResponse" message="tns:getOrderByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webcarservices.services.com/OrderService/getOrderById/Fault/Exception"/>
</operation>
<operation name="createOrder">
<input wsam:Action="http://webcarservices.services.com/OrderService/createOrderRequest" message="tns:createOrder"/>
<output wsam:Action="http://webcarservices.services.com/OrderService/createOrderResponse" message="tns:createOrderResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webcarservices.services.com/OrderService/createOrder/Fault/Exception"/>
</operation>
</portType>
<binding name="OrderServicePortBinding" type="tns:OrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrderUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="OrderService">
<port name="OrderServicePort" binding="tns:OrderServicePortBinding">
<soap:address location="http://LAPTOP-GT898CL0:8080/CarServicesWebApp/OrderService"/>
</port>
</service>
</definitions>